
{% load static %}
<html >
   <head>
      <meta name="referrer" content="origin">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="news.css?8TojdIkfXE2jenmubhu1">
      <link href="{% static 'css/base.css' %}" rel="stylesheet">
      <title>Formatting Options | Hacker News</title>
   </head>
   <body>
      <center>
         <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
               <tr>
                  <td bgcolor="#ff6600">
                     <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                        <tbody>
                           <tr>
                              <td style="width:18px;padding-right:4px"><a href="{% url 'home' %}"><img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid;"></a></td>
                              <td style="line-height:12pt; height:10px;"><span class="pagetop"><b>Formatting Options</b></span></td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr style="height:10px"></tr>
               <tr>
                  <td>
                     <span class="admin">
                        <center>
                           <table width="500">
                              <tbody>
                                 <tr>
                                    <td>
                                       Blank lines separate paragraphs.
                                       <p> Text surrounded by asterisks is italicized, if the character after the
                                          first asterisk isn't whitespace.
                                       </p>
                                       <p> Text after a blank line that is indented by two or more spaces is
                                          reproduced verbatim.  (This is intended for code.)
                                       </p>
                                       <p> Urls become links, except in the text field of a submission.<br><br></p>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </center>
                     </span>
                     <br><br>
                  </td>
               </tr>
            </tbody>
         </table>
      </center>
   </body>
</html>