{% extends 'base.html' %}
{% load hackernews_extra %}
{% block content  %}
    {% for contribution in contribution_list  %}
        <tr class="athing" id="{{contribution.pk}}">
            <td align="right" valign="top" class="title"><span class="rank">{{ forloop.counter }}.</span></td>
            {%if user.is_authenticated and user == contribution.author%}
                <td><center><font color="#ff6600"> *</font></center></td>
            {%else%}
                <td>
                    <center>
                        {% if contribution.id_contribution not in voted %}
                            <button class="votearrow" id="vote{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'></button>
                        {% else %}
                            <button class="votearrowhidden" id="votehidden{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'></button>
                        {% endif %}
                    </center>
                </td>
            {% endif %}
            <td class="title">
                {%if contribution.get_cname == "ContributionUrl" %}
                    <a href="{{contribution.url}}" class="storylink" rel="nofollow">{{contribution.title}}</a>
                    <span class="sitebit comhead"> (<a href="{{contribution.url}}">
                           <span class="sitestr">{{contribution.get_base_url}}</span></a>)</span>
                {%else%}
                    <a href="/item?id=1" class="storylink" rel="nofollow">
                        {{contribution.title}}
                    </a>
                {%endif%}
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="subtext">
                       <span class="score" id="score{{ contribution.id_contribution }}" points="{{contribution.points.count}}">{{contribution.getpoints}}

                            {% if contribution.getpoints == 1 %}
                                point
                            {% else %}
                                points
                            {% endif %}

                        </span>
                by <a href="{% url 'user' %}?id={{contribution.author}}" class="hnuser"> {{contribution.author}} </a>

                <span class="age">
                    <a href="{% url 'item' %}?id={{contribution.id_contribution}}"> {{contribution.whenpublished}}  </a> 
            </span>
                {% if user.is_authenticated %}
                    {% if contribution.id_contribution in voted %}
                        
                        <button class="unvote" id="unvote{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'>| unvote</button>
                    {% else %}
                        <button class="unvotehidden" id="unvotehidden{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'>unvote</button>
                    {% endif %}
                {% endif %}
                <span class="web">|</span>  <a href="https://www.google.com/search?q={{contribution.title}}">web</a>
                {% if contribution.author == user  %}
                    <a href="{% url 'edit' %}?id={{contribution.id_contribution}}">| edit</a> |
                    <a href="{% url 'delete-confirm' %}?id={{contribution.id_contribution}}">delete</a>
                {% else %}
                    <a href="{% url 'item' %}?{% query_transform request id=contribution.id_contribution %}">
                    {% if contribution.comments == 0 %}
                        | discuss
                    {% else %}
                        |
                        {{ contribution.comments }} comments
                    {% endif  %}
                {% endif  %}
                </a>
            </td>
        </tr>
        <tr class="spacer" style="height:5px"></tr>
    {% endfor %}
{% endblock content %}
