{% load static %}
{% block content %}
<html op="x">
<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Message | Hacker News</title></head>
    <body>
        <center>
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tbody>
                    <tr>
                        <td bgcolor="#ff6600">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                                <tbody>
                                    <tr>
                                        <td style="width:18px;padding-right:4px">
                                            <a href="{% url 'home' %}">
                                                <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid;">
                                            </a>
                                        </td>
                                        <td style="line-height:12pt; height:10px;">
                                        <span class="pagetop"><b>Message</b></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                    <tr>
                        <td>
                            <span class="admin">
                                <center>You're posting too fast. Please slow down. Thanks.</center>
                            </span>
                            <br><br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
{% endblock content %}