{% extends 'base.html' %}
{% load hackernews_extra %}
{% block content  %}
{%if user.is_authenticated %}
    {% get_parameter_id request as param_name %}   
    {% if user.username == param_name %}

        {% for contribution in contribution_list %}
            <tr class="athing" id="{{contribution.pk}}">
                <td align="right" valign="top" class="title"><span class="rank">{{ forloop.counter }}.</span></td>
                <td valign="top" class="votelinks">
                    <center>
                    <a>
                        {% if not user.is_authenticated %}
                        <button onclick="location.href = '/login/google-oauth2/?next=/';" id="myButton" class="votearrow"></button>
                        {% elif contribution.id_contribution in own  %}
                        {% else %}
                            {% if contribution.id_contribution not in voted %}
                                <button class="votearrow" id="vote{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'></button>
                            {% else %}
                                <button class="votearrowhidden" id="votehidden{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'></button>
                            {% endif %}
                        {% endif %}
                        </a>
                    </center>
                </td>

        <td class="default">
            <div style="margin-top:2px; margin-bottom:-10px;">
                <span class="comhead">
                    <a href="{% url 'user' %}?id={{contribution.author.id}}" class="hnuser"> {{contribution.author}} </a>
                    <span class="age">
                            <a href="{% url 'item' %}?id={{contribution.id_contribution}}"> {{contribution.whenpublished}}  </a> |
                    </span>

                    <span>

                        {% if user.is_authenticated %}

                        {% if contribution.id_contribution in voted %}
                            <button class="unvote" id="unvote{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'>unvote </button>
                        {% else %}
                            <button class="unvotehidden" id="unvotehidden{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'>unvote </button>
                        {% endif %}
                    {% endif %}

                    </span>

                    <span class="par"> |

                            {% if contribution.parent.id_contribution == None %}
                                <a href="item?id={{ contribution.contribution_ref.id_contribution}}">parent</a>
                            {% else %}
                                <a href="item?id={{ contribution.parent.id_contribution}}">parent</a>
                            {% endif %}

                    <span class='storyon'> | on:
                        <a href="item?id={{ contribution.contribution_ref.id_contribution}}"  >{{contribution.contribution_ref.title}}</a>
                    </span>
                </span>
            </div>
            <br>
                <div class="comment">
                    <span class="commtext c00">

                        {{ contribution.text }}
                    </span>
                        <div class='reply'></div>
                    </div>
                </td>
            </tr>
            <tr class="spacer" style="height:15px"></tr>




                        {% if not user.is_authenticated %}
                        <button onclick="location.href = '/login/google-oauth2/?next=/';" id="myButton" class="votearrow"></button>
                        {% elif contribution.id_contribution in own  %}
                        {% else %}
                            {% if contribution.id_contribution not in voted %}
                                <button class="votearrow" id="vote{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'></button>
                            {% else %}
                                <button class="votearrowhidden" id="votehidden{{ contribution.id_contribution }}" likehref='{{ contribution.get_api_like_url }}' userlike='{{ user.pk }}' contid='{{ contribution.id_contribution }}'></button>
                            {% endif %}
                        {% endif %}

                </center>
            </td>


        </tr>
        <tr class="spacer" style="height:5px"></tr>
        {% endfor %}
    {% else %}
        <p>You can't see this</p>
    {% endif %}
 {% else %}
        <p>You can't see this</p>
{% endif %}       

{% endblock content %}